.blue-button{
    background-color: #283593;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    &:hover{
        background-color: #1a237e;
    }
}