.blue-button{
    background-color: #283593;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    &:hover{
        background-color: #1a237e;
    }
}

.logout-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 10px;

    &:hover{
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
    }
}