.primary-div {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

@media (max-width: 600px) {
    .primary-div {
        width: 90%;
    }
}


// - - - - - - - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
.header-div {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: #1e2a38;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    width: 100%;
}

.header-user-div {
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    width: 22%;
    text-align: left;
    padding-right: 10px;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

@media (max-width: 500px) {
    .header-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px; 
    }

    .header-user-div {
        width: 100%;
        justify-content: center;
        padding-right: 0;
    }
}

@media (max-width: 480px) {
    .header-div {
        padding: 8px;
    }
}

// - - - - - - - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
.footer-div {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-between;
    background-color: #1e2a38;
    color: #e9e9ed;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    width: 100%;
}
