.login-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 1.2rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.header-user-icon {
    background-color: rgb(199, 199, 199);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.header-username-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.header-logout-icon {
    width: 25px;
    height: 25px;
}

@media (max-width: 768px) {
    .header-user-icon{
        display: none;
    }
    .header-username-icon,
    .header-logout-icon {
        width: 28px;
        height: 28px;
    }

    .logout-button {
        padding: 5px 8px;
    }
}