.forgot-password-link {
    display: block;
    text-align: center;
    color: #5b63b3;
    text-decoration: none;
    font-size: 0.9rem;
    margin-bottom: .6rem;
    font-size: 1.001rem;

    &:hover {
        text-decoration: underline;
    }
}