.titulo-login {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1.7rem;
    font-weight: bold;
}

@media (max-width: 600px) {
    .titulo-login {
        width: 100%;
    }
}

.header-text {
    flex: 1;
    font-weight: 450;
    color: white;
    margin-top: .2rem;
}

.header-user-text {
    font-weight: 400;
    color: white;
    font-size: 1rem;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .header-text {
        flex: none;
        margin: 0;
        text-align: center;
        font-size: 1.1rem;
    }

    .header-user-text {
        font-size: 0.9rem;
        margin-right: 5px;
    }
}

@media (max-width: 480px) {
    .header-text {
        font-size: 1rem;
    }

    .header-user-text {
        font-size: 0.8rem;
    }
}