.titulo-login {
    width: 75%;
    margin-left: auto; 
    margin-right: auto;
    text-align: center; 
    margin-bottom: 1.7rem;
    font-weight: bold;
}

@media (max-width: 600px) {
    .titulo-login {
        width: 100%;
    }
}
